<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  @RenderBody()
    <script src="react.js"></script>

    <!-- dist.js for all the rest -->
    <script src="dist.js"></script>
</body>
</html>
